.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login Page */

.mainLoginContainer {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  background-color: #f0f2f5;
}

.fbImage {
  width: 35%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.loginContainer {
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.loginFormInputs {
  height: 5vh;
  width: 80%;
  border-radius: 1vh;
}

.loginButton {
  color: white;
  font-size: 20px;
  background-color: #1877f2;
  border: #1877f2 solid;
  height: 5vh;
  width: 80%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.createAccount {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42b72a;
  border: #42b72a solid;
  color: white;
  height: 5vh;
  width: 50%;
  border-radius: 6px;
  font-size: 17px;
}
.lineLogin {
  border-bottom: 1px solid #dadde1;
  margin: 20px 16px;
  width: 85%;
}

.facebooklogo {
  width: 50%;
  height: 30%;
}

.imageheader {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  margin-left: 3vh;
  margin-top: -2vh;
}

a.facebookLink:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
}

a.facebookLink:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
}

.loginFooter {
  border: 2px red solid;
  height: 19.5vh;
}

.navBarContainer {
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  position: fixed;
  background-color: rgba(255, 255, 255, 1);
  top: 0;
  width: 100%;
  z-index: 0;
}

.fblogoHomePage {
  max-width: 60%;
  max-height: 50%;
  object-fit: contain;
  display: block;
  cursor: pointer;
}

.imgContainerHomePage {
  max-width: 4.2%;
  margin-left: 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarSearch {
  background-color: #f2f3f5;
  min-width: 15%;
  height: 70%;
  border-radius: 5vh;
  margin-left: -0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchLogo {
  width: 3vh;
  height: 80%;
  margin-left: -3vh;
  margin-right: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  border: none;
  border-radius: 1vh;
  height: 60%;
  width: 60%;
  background-color: #f2f3f5;
}

.searchBar:focus {
  outline: none;
}

.navBarLogosContainer {
  height: 100%;
  width: 43%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icons {
  padding: 2.1vh;
  padding-right: 4vh;
  padding-left: 4vh;
  cursor: pointer;
  border-radius: 1vh;
}

.icons:hover {
  background-color: #ebeef0;
}

.userContainerNavBar {
  height: 98%;
  width: 37.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userNavBar {
  height: 90%;
  width: 23%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5vh;
  cursor: pointer;
}

.userNavBar:hover {
  background-color: #ebeef0;
}

.userPictureNavBar {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3vh;
}

.userPicture {
  width: 100%;
  height: 80%;
  border-radius: 8vh;
  object-fit: fill;
}

.userNameNavBar {
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  margin-left: -1vh;
}

.menuNavBar {
  min-width: 7%;
  max-width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userIcons {
  border-radius: 10vh;

  padding: 1.2vh;
  cursor: pointer;
  background-color: #d9dbdb;
}
.userIcons:hover {
  background-color: #cdd0d1;
}

.ContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 99vh;
}

.mainBars {
  height: 100%;
}

.leftSideBar {
  width: 18%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f0f2f5;
  flex-direction: column;
  gap: 0.5vh;
}

.mainContent {
  width: 62%;
  background-color: #f0f2f5;
  border: #1877f2 2px solid;
  overflow: hidden;
}

.friendsSideBar {
  width: 20%;
  background-color: #f0f2f5;
}

.dividerDiv {
  margin-top: 7vh;
  background-color: #f0f2f5;
}

.leftSideBarComponent {
  margin-left: 1vh;
  margin-top: 1vh;
  width: 90%;
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1vh;
  cursor: pointer;
}

.leftSideBarComponent:hover {
  background-color: #bdbdbd4b;
}

.leftSideBarComponentDisplay {
  height: 80%;
  width: 13%;
  margin-left: 5%;
  border-radius: 4vh;
}

.leftSideBarComponentLabel {
  height: 80%;
  margin-left: 2%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.userPictureSideBar {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 4vh;
  margin-top: 1%;
}

.friendHeaderContainer {
  height: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactsText {
  color: #65676b;
  font-weight: 600;
  font-size: 1.0625rem;
  margin-left: 2%;
}

.friendsBarIcons {
  width: 100%;
  cursor: pointer;
}
.leftSideFriendsBar {
  display: flex;
  flex-direction: row;
  gap: 20%;
  margin-right: 5%;
}

.friendContainer {
  height: 94%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.friendCard {
  height: 7%;
  width: 99%;
  border-radius: 1vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
}

.friendCard:hover {
  background-color: #bdbdbd4b;
}

.imageContainerFriend {
  width: 15%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.friendImage {
  width: 90%;
  height: 90%;
  margin-left: 3%;
  border-radius: 10vh;
}
.onlineIndicator {
  border: white 1px solid;
  align-self: flex-end;
  width: 25%;
  height: 30%;
  border-radius: 5vh;
  margin-left: -12%;
  z-index: 1;
  background-color: green;
}

.userImage {
  border: white 2px solid;
  z-index: 2;
  object-fit: fill;
  border-radius: 5vh;
  height: 95%;
  width: 90%;
}
.friendUserName {
  width: 70%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 15px;
}

.newRoom,
.Search,
.More {
  border-radius: 4vh;
  width: 150%;
}

.newRoom:hover,
.Search:hover,
.More:hover {
  background-color: #d7dadd;
}

.MainContainer {
  border: green 2px solid;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 2%;
}
.MainContainer::-webkit-scrollbar {
  display: none;
}

.storiesContainer {
  border: red 2px solid;
  height: 20%;
  width: 60%;
  margin-top: 2%;
}

.statuesPost {
  border: red 2px solid;
  height: 12%;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1vh;
  background-color: #ffffff;
}

.inputStatuesContaienr {
  border: blue 2px solid;
  width: 100%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.postContainer {
  border: rgb(45, 45, 184) 2px solid;
  width: 100%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imageContainerStatuesPost {
  border: red 2px solid;
  width: 7%;
  height: 80%;
  margin-left: 2%;
  border-radius: 100%;
}

.statuesInput {
  width: 80%;
  height: 70%;
  border-radius: 3vh;
  background-color: #f0f2f5;
  margin-left: 2%;
  text-align: center;
  font-size: larger;
}

.bottomStatuesBar {
  border: gold 2px solid;
  height: 90%;
  width: 45%;
  border-radius: 1vh;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomStatuesBar:hover {
  background-color: #f0f2f5;
}
