.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Login Page */

.mainLoginContainer {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10vh;
  background-color: #f0f2f5;
}

.fbImage {
  width: 35%;
  height: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

.loginContainer {
  width: 25%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1vh;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

.loginFormInputs {
  height: 5vh;
  width: 80%;
  border-radius: 1vh;
}

.loginButton {
  color: white;
  font-size: 20px;
  background-color: #1877f2;
  border: #1877f2 solid;
  height: 5vh;
  width: 80%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.createAccount {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #42b72a;
  border: #42b72a solid;
  color: white;
  height: 5vh;
  width: 50%;
  border-radius: 6px;
  font-size: 17px;
}
.lineLogin {
  border-bottom: 1px solid #dadde1;
  margin: 20px 16px;
  width: 85%;
}

.facebooklogo {
  width: 50%;
  height: 30%;
}

.imageheader {
  font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: start;
  margin-left: 3vh;
  margin-top: -2vh;
}

a.facebookLink:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
}

a.facebookLink:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
  cursor: pointer;
}

.loginFooter {
  border: 2px red solid;
  height: 19.5vh;
}

.navBarContainer {
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  position: fixed;
  top: 0;
  width: 100%;
}

.fblogoHomePage {
  max-width: 60%;
  max-height: 50%;
  object-fit: contain;
  display: block;
  cursor: pointer;
}

.imgContainerHomePage {
  max-width: 4.2%;
  margin-left: 0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navBarSearch {
  background-color: #f2f3f5;
  min-width: 15%;
  height: 70%;
  border-radius: 5vh;
  margin-left: -0.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchLogo {
  width: 3vh;
  height: 80%;
  margin-left: -3vh;
  margin-right: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchBar {
  border: none;
  border-radius: 1vh;
  height: 60%;
  width: 60%;
  background-color: #f2f3f5;
}

.searchBar:focus {
  outline: none;
}

.navBarLogosContainer {
  height: 100%;
  width: 43%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.icons {
  padding: 2.1vh;
  padding-right: 4vh;
  padding-left: 4vh;
  cursor: pointer;
  border-radius: 1vh;
}

.icons:hover {
  background-color: #ebeef0;
}

.userContainerNavBar {
  height: 98%;
  width: 37.5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.userNavBar {
  height: 90%;
  width: 23%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5vh;
  cursor: pointer;
}

.userNavBar:hover {
  background-color: #ebeef0;
}

.userPictureNavBar {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3vh;
}

.userPicture {
  width: 100%;
  height: 80%;
  border-radius: 8vh;
  object-fit: fill;
}

.userNameNavBar {
  width: 70%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2vh;
  margin-left: -1vh;
}

.menuNavBar {
  min-width: 7%;
  max-width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userIcons {
  border-radius: 10vh;

  padding: 1.2vh;
  cursor: pointer;
  background-color: #d9dbdb;
}
.userIcons:hover {
  background-color: #cdd0d1;
}

.ContentContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89vh;
}

.mainBars {
  border: #1877f2 2px solid;
  height: 100%;
}

.leftSideBar {
  width: 18%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #f0f2f5;
  flex-direction: column;
  gap: 0.5vh;
}

.mainContent {
  width: 62%;
  background-color: #f0f2f5;
}

.friendsSideBar {
  width: 20%;
  background-color: #f0f2f5;
}

.dividerDiv {
  margin-top: 7vh;
  background-color: #f0f2f5;
}

.leftSideBarComponent {
  margin-left: 1vh;
  margin-top: 1vh;
  width: 90%;
  height: 6%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1vh;
  cursor: pointer;
}

.leftSideBarComponent:hover {
  background-color: #bdbdbd4b;
}

.leftSideBarComponentDisplay {
  height: 80%;
  width: 13%;
  margin-left: 5%;
  border-radius: 4vh;
}

.leftSideBarComponentLabel {
  height: 80%;
  margin-left: 2%;
  width: 50%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.userPictureSideBar {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  border-radius: 4vh;
}
